{% extends 'myapp/base.html' %}

{% block login_block %}
  <h2>Register</h2>
  <form action="{% url 'myapp:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn mt-2 btn-success" type="submit">Register</button>
  </form>
{% endblock %}